[crio]
root = "{{ .criData }}"
runroot = "{{ .criCRIOData }}"
[crio.image]
global_auth_file = "/etc/crio/config.json"
pause_image = "{{ .registryDomain }}:{{ .registryPort }}/{{ .SEALOS_SYS_SANDBOX_IMAGE }}"
insecure_registries = [
"{{ .registryDomain }}:{{ .registryPort }}"
]
[crio.api]
listen = "{{ .SEALOS_SYS_CRI_ENDPOINT }}"
# Maximum grpc send message size in bytes. If not set or <=0, then CRI-O will default to 16 * 1024 * 1024.
grpc_max_send_msg_size = 16777216
# Maximum grpc receive message size. If not set or <= 0, then CRI-O will default to 16 * 1024 * 1024.
grpc_max_recv_msg_size = 16777216
[crio.runtime]
conmon = "/usr/bin/conmon"
# Cgroup setting for conmon
{{ if eq .criCgroupdriver "cgroupfs" }}conmon_cgroup = "pod"{{ else }}conmon_cgroup = "system.slice"{{ end }}
cgroup_manager = "{{ .criCgroupdriver }}"
{{ if eq .criDisableApparmor "true" }}apparmor_profile = "unconfined"{{ else }}apparmor_profile = "crio-default"{{ end }}
pids_limit = 1024
log_size_max = -1
log_to_journald = true
default_runtime = "crun"

[crio.runtime.runtimes.crun]
runtime_path = "/usr/bin/crun"
runtime_type = "oci"
allowed_annotations = [
    "io.containers.trace-syscall",
]
