[crio]
root = "{{ .criData }}"
runroot = "{{ .criCRIOData }}"
[crio.image]
global_auth_file = "/etc/crio/config.json"
pause_image = "{{ .registryDomain }}:{{ .registryPort }}/{{ .SEALOS_SYS_SANDBOX_IMAGE }}"
insecure_registries = [
"{{ .registryDomain }}:{{ .registryPort }}"
]
[crio.api]
listen = "{{ .SEALOS_SYS_CRI_ENDPOINT }}"
[crio.runtime]
cgroup_manager = "{{ .criCgroupdriver }}"
pids_limit = 1024
log_size_max = -1
log_to_journald = true
default_runtime = "crun"

[crio.runtime.runtimes.crun]
allowed_annotations = [
    "io.containers.trace-syscall",
]
