KUBELET_EXTRA_ARGS="--pod-infra-container-image={{ .registryDomain }}:{{ .registryPort }}/{{ .SEALOS_SYS_SANDBOX_IMAGE }} --container-runtime=remote  --runtime-request-timeout=15m --container-runtime-endpoint=unix://{{ .SEALOS_SYS_CRI_ENDPOINT }} --image-service-endpoint=unix:///var/run/image-cri-shim.sock"
